<input
  placeholder="Search…"
  type="search"
  value={{filter}}
  oninput={{action (mut filter) value="target.value"}}>

<label for="sort">Sort by:</label>
<select id="sort" onchange={{action (mut sort) value="target.value"}}>
  {{#each-in (hash
    Place="place"
    Gold="gold_count"
    Silver="silver_count"
    Bronze="bronze_count"
  ) as |key value|}}
    <option value={{value}} selected={{eq sort value}}>{{key}}</option>
  {{/each-in}}
</select>

<label for="order">Order:</label>
<select id="order" onchange={{action (mut order) value="target.value"}}>
  {{#each-in (hash
    Ascending="asc"
    Descending="desc"
  ) as |key value|}}
    <option value={{value}} selected={{eq order value}}>{{key}}</option>
  {{/each-in}}
</select>

{{#each (sort-by (filter-by model "country_name" filter) sort order) as |team|}}
  <div class="country-bar">
    <h1>{{world-flag (iso-code team.country_name) 32}} {{team.country_name}}</h1>
    <div class="country-bar--country">
      {{#each (list "gold" "silver" "bronze") as |metal|}}<div class="country-bar--medal country-bar--medal-{{metal}}" style="width: {{bar-length (get team (concat metal "_count"))}}px;">
          {{get team (concat metal "_count")}}
      </div>{{/each}}
    </div>
  </div>
{{/each}}
